.vs/
bin/
obj/

**/bin/
**/obj/

*.user
*.suo
*.userosscache
*.sln.docstates

TestResults/

# Publish çıktıları
publish/
Release/

# Yerel loglar
debug.log
debug.old.log

# Build / publish
**/bin/
**/obj/
**/publish/

# Velopack release outputs
**/Releases/
*.nupkg
*-Setup.exe
*-Portable.zip
*.zip